@import 'variables.less';

html {
  background: #f6f7fb;
}

a {
  color: @mainFontColor;
  cursor: pointer;
  text-decoration: none;
  &:visited,
  &:hover {
    color: @mainFontColor;
  }
}

img {
  transition: .3s;
  border: none;
  outline: none;
}

.normal-pre-text {
  font-family: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.-market-bg--rise {
  background-color: @subRiseBlockColor;
  &:hover {
    background-color: @subRiseBlockHoverColor;
  }
}

.-market-bg--descline {
  background-color: @subDeclineBlockColor;
  &:hover {
    background-color: @subDeclineBlockHoverColor;
  }
}

.-market-bg--balance {
  background-color: @subBalanceColor;
  &:hover {
    background-color: @subBalanceHoverColor;
  }
}

.-market-color--rise {
  color: @subRiseColor;
}

.-market-color--descline {
  color: @subDeclineColor;
}

.-market-color--balance {
  color: @subBalanceColor;
}